{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1 class='text-center'>UPDATE</h1>
  {% if article.image %}
    <img src="{{ article.image.url }}" alt="smaple">
  {% else %}
    <img src="{% static 'articles/images/images.png' %}" alt="no">
  {% endif %}
  <form action="#" method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    <label for="title">TITLE</label>
    <input type="text" name="title" id="title" value="{{ article.title }}"><br>
    <label for="content">CONTENT</label>
    <textarea name="content" id="content" cols="30" rows="5">{{ article.content }}</textarea><br>
    <label for="image">image</label>
    <input type="file" name="image" id="image" accept="image/*">
    <input type="submit" value="submit">
  </form>
  <a href="{{ article.get_absolute_url }}">[back]</a>
{% endblock %}