.font-1 {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

.font-2 {
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}

.font-3 {
  font-size: 130%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.font-4 {
  font-size: small;
  font-weight: 700;
}

.font-5 {
  /* fontshorthand */
  /* font: font-style font-weight lien-heigt font-size(필수) font-family(필수) */
  font: italic 5rem "Hack"
}

.box {
  width: 100px;
  height: 100px;
  background-color: crimson;
  color: white;
}

.box>p {
  text-align: center;
  /* 
  line-height 를 부모의 height 만큼 주면
  텍스트를 수직 중앙정렬하기에 용이하다.(단, 한줄인 경우에만)
  */
  line-height: 100px;
}

.web-font {
  font-family: 'Yeon Sung', cursive;
}

.web-font-2 {
  font-family: 'Permanent Marker', cursive;
}

